{% extends 'student/base.html' %}
{% block title %}{{student}}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">Name:</div>
            <div class="col-md-10">{{student}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Date of Birth:</div>
            <div class="col-md-10">{{student.date_of_birth}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Gender:</div>
            <div class="col-md-10">{{student.gender}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">ULN:</div>
            <div class="col-md-10">{{student.ULN}}</div>
        </div>
    </div>
{% endblock %}
